.info-email-form-mass {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  color: #e09f3e;
  padding: 5px 0;
  margin: 0 10px;
}

.user-item {
  color: #e09f3e !important;
}

.users-ids {
  margin: 5px 30px 5px 10px;
}

.sent-letters {
  margin: 5px 10px 5px 10px;
}

.man-form {
  background-color: #444654;
}

.info-about-count-man {
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #ececf1;
}

.delete-id-button {
  margin-left: 5px;
  background-color: #444654;
  color: #ececf1;
  border: 1px solid #ececf1;
  padding: 2px 3px;
  cursor: pointer;
  border-radius: 2px;
}

.delete-id-button:hover {
  background-color: #202123;
}

.show-hide-button-mass {
  display: inline;
  margin-top: 3px;
  background-color: #444654;
  color: white;
  border: 1px solid #ececf1;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.show-hide-button-mass:hover {
  background-color: #202123;
}

.show-button-mass {
  display: inline;
  margin-left: 2%;
  background-color: #444654;
  color: white;
  border: 1px solid #ececf1;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

.show-button-mass:hover {
  background-color: #202123;
}

