
.auto-answer-button {
  background-color: #ececf1;
  color: #444654;
  border: 1px solid #444654;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px
}

.auto-answer-button:hover {
  background-color: #444654;
  border: 1px solid #ececf1;
  color: #ececf1;
}
