
.main-page {
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #444654;
}

.left-part {
  width: 40%;
  float: left;
  /*border-radius: 0;*/
  box-sizing: border-box;
}


.right-part {
  width: 50%;
  float: right;
  /*margin-left: 20px;*/
  /*border-radius: 0;*/
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}


.right-part-down {
  width: 50%;
  margin-top: 10px;
  float: right;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error-message {
  background-color: #f22c3d;
  color: #ececf1;
  padding: 10px;
}

.auto-answer-message {
  font-size: 16px;
  background-color: #ececf1;
  color: #444654;
  padding: 15px;
  margin: 0;
  border: 1px solid #444654;
  border-radius: 5px;
}
