.admire-mail-finish-date {
    margin: 0 auto;
    border: 1px solid #ececf1;
    border-radius: 5px;
    padding: 10px;
    background-color: #9a0d0d;
}

.admire-mail-finish-date-text {
    color: #ececf1;
    font-size: 16px;
    margin-bottom: 0;
}

.do-admire-button {
    background-color: #ececf1;
    color: #9a0d0d;
    border: 1px solid  #9a0d0d;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px
}

.do-admire-button:hover {
    background-color: #730808;
    border: 1px solid #ececf1;
    color: #ececf1;
}
